.mainSection {
  display: flex;
  flex-direction: column;
}
.dimmer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00000080;
  z-index: 3;
}
.modal {
  position: absolute;
  width: 30em;
  height: 30em;
  left: 30%;
  top: 20%;
  background-color: white;
  border-radius: 18px;
}
