.container {
  list-style: none;
  width: 64rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 607px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 608px) and (max-width: 767px) {
  .container {
    width: 38rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 48rem;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .container {
    width: 64rem;
  }
}
