* {
  box-sizing: border-box;
}
.container {
  width: 16rem;
  padding: 1rem;
  cursor: pointer;
  transition: 0.25s ease-in;
}
.container:hover {
  transform: scale(1.03);
}
.movie {
  border-radius: 12px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.2);
}
.info {
  padding: 1em 1em 0 1em;
}
.info p {
  margin-bottom: 0.5em;
}
.title {
  font-size: 1.1rem;
  font-weight: 700;
}
.date {
  color: #474d56;
}
.imgBox {
  width: 100%;
  height: 17em;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 0 0 12px 12px;
}
.comment {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
@media (max-width: 767px) {
  .container {
    width: calc(50%);
    transition: none;
  }
  .container:hover {
    transform: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    transition: none;
  }
}
